<div class="card h-100">
  <img
    src="{{ item.urlToImage }}"
    onerror="this.src='assets/Images/newsIm.jpg';"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <p class="text-muted mb-1">
      {{ item.source.name }}
    </p>
    <h5 class="card-title">
      <a
        href="{{ item.url }}"
        class="text-dark text-decoration-none text-underline-hover"
      >
        {{ item.title | truncate }}
      </a>
    </h5>

    <p class="card-text">{{ item.title }}</p>
    <p class="card-text my-3 text-muted">
      {{ item.publishedAt | date : "short" }}
    </p>
  </div>
  <div class="card-footer bg-white border-top-0">
    <a class="btn mb-2 btnColor" (click)="storeNews(item)">Read Later </a>
  </div>
</div>
